

/*media-quary.css */
/* 화면에서만 적용될 스타일 */
  @media screen {
    body {
      background-color: lightblue;
    }
  }
  
/* 인쇄할 때만 적용될 스타일 */
  @media print {
    body {
      background-color: white;
      color: black;
    }
    header, footer {
        display: none; /* 인쇄할 때 헤더와 푸터를 숨김 */
      }
  }

  